.page-repositories > ul.repository-list {
  list-style: none;
  padding-left: 0;
}

.page-repositories > ul.repository-list > li {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 3vh 0 3vh 0;
  transition: 0.2s ease;
}

.page-repositories > ul.repository-list > li:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.05);
}

.page-repositories > ul.repository-list > li:hover {
  background-color: rgba(0, 0, 0, 0.1);
  transition: 0.2s ease;
}

.page-repositories > ul.repository-list > li > div {
  margin: 0 1vw 0 1vw;
}

.page-repositories > ul.repository-list > li > div.image {
  border-radius: 100%;
  min-height: 2vw;
  min-width: 2vw;
  max-height: 32px;
  max-width: 32px;
}

.page-repositories > ul.repository-list > li > div.image > div {
  height: 5vw;
  width: 5vw;
}

.page-repositories > ul.repository-list > li > div.info {
  display: block;
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

.page-repositories > ul.repository-list > li > div.info > span.name {
  font-weight: 600;
}

.page-repositories > ul.repository-list > li > div.info > span.full-name {
  font-weight: 200;
}

.page-repositories
  > ul.repository-list
  > li
  > div.info
  > span.full-name::before {
  content: " | ";
}

.page-repositories > ul.repository-list > li > div.info > span.description {
  display: block;
  font-size: 0.8em;
}

.page-repositories > ul.repository-list > li > div.numbers {
  display: flex;
  flex-direction: column;
  min-width: 64px;
}

.page-repositories > ul.repository-list > li > div.numbers > span {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.page-repositories > ul.repository-list > li > div.numbers > span * {
  flex: 1;
}
