.page-authentication {
  display: block;
  height: 100%;
  width: 100%;
  text-align: center;
}

.page-authentication > img.logo {
  min-height: 64px;
}

.page-authentication > .login-buttons {
  display: inline-block;
  margin: 8px;
  width: 230px;
}

.page-authentication > .login-buttons > * {
  margin: 8px;
}