.page-authentication {
  display: block;
  height: 100%;
  width: 100%;
  text-align: center;
}

.page-authentication > img.logo {
  min-height: 64px;
}

.page-authentication > .login-buttons {
  display: inline-block;
  margin: 8px;
  width: 230px;
}

.page-authentication > .login-buttons > * {
  margin: 8px;
}

.authentication-success img.profile-image {
  border-radius: 100%;
  max-width: 128px;
  max-height: 128px;
}

.authentication-success span.name {
  display: block;
  font-weight: 200;
}

.authentication-success span.username {
  display: block;
  font-size: 1.5em;
  font-weight: 400;
}