.page-project ul.content-list {
  list-style: none;
  padding-left: 0;
}

.page-project ul.content-list > li {
  align-items: center;
  cursor: pointer;
  display: flex;
  padding-left: 0;
}

.page-project ul.content-list > ul.content-list > li {
  padding-left: 2vw;
}

.page-project ul.content-list > li:nth-child(even) {
  background-color: #f8f8f8;
}

.page-project ul.content-list > li:hover {
  background-color: #efefef;
  transition: 0.2s ease;
}

.page-project ul.content-list > li > span {
  margin: 0 1vw 0 1vw;
}

.page-project ul.content-list > li > span.type {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  width: 1em;
  height: 2em;
}

.page-project ul.content-list > li > span.type > i.file * {
  color: rgba(100, 170, 255, 0.5);
}

.page-project ul.content-list > li > span.type > i.dir * {
  color: rgba(240, 220, 100, 0.8);
}

.page-project ul.content-list > li > span.name {
  cursor: default;
  flex: 1;
  pointer-events: none;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}
