bucket = "tfstates"
key = ""
region = "ap-southeast-1"
endpoint = "https://sgp1.digitaloceanspaces.com"
access_key = ""
secret_key = ""
skip_credentials_validation = true
skip_metadata_api_check = true
