.login-button {
  display: flex;
  height: 48px;
}

.login-button-content {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 100%;
  flex-direction: row;
  text-align: center;
  width: 100%;
}

.login-button-content > .icon {
  font-size: 1.6em;
  padding: 0 4px 0 8px;
}

.login-button-content > label {
  font-weight: 600;
  padding: 0 8px 0 4px;
}
