.app {
  display: flex;
  min-height: 100%;
  width: 100%;
  max-width: 100%;
  flex-direction: column;
}

.app .navigation-bar {
  align-items: center;
  display: flex;
  height: 12vh;
  flex-direction: row;
}

.app .navigation-bar a {
  align-items: center;
  background-color: #333;
  border-radius: 100px;
  color: #DDD;
  cursor: pointer;
  display: flex;
  font-size: 1.1em;
  height: 8vh;
  justify-content: center;
  margin: 0 8px;
  text-align: center;
  transition: 0.2s ease-out;
  width: 8vh;
}

.app .navigation-bar a:hover {
  color: #FFF;
  cursor: pointer !important;
  transition: 0.1s ease-in;
}

.app .navigation-bar a:hover * {
  box-shadow: 0 0 4px rgba(255,255,255,0.1);
  cursor: pointer !important;
}

.app .content {
  display: flex;
  flex: 1;
}
