.app {
  display: flex;
  min-height: 100%;
  width: 100%;
  max-width: 100%;
  flex-direction: column;
}

.app > .content {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  /* justify-content: center; */
  padding-bottom: 48px;
}
